{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap_tags %}
{% load igrac_bootstrap_tags %}

{% block page_title %}
    <h1>Download Form.</h1>
{% endblock page_title %}

{% block extra_head %}
{% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h1>Registration page is not found</h1>
    </div>
    <div class="row">
        Registration is only for data providers. It is not required to access and download the resources available in the GGIS. If you are from a partner organization and you have data that could be shared in the GGIS, please reach out to the website administrator: <a href="mailto:ggis@un-igrac.org">ggis@un-igrac.org</a>
    </div>
{% endblock %}

{% block extra_script %}
{% endblock %}