{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap_tags %}
{% load igrac_bootstrap_tags %}

{% block page_title %}
    <h1>Download Form.</h1>
{% endblock page_title %}

{% block extra_head %}
{% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h1>Registration page is not found</h1>
    </div>
    <div class="row">
        Please ask admin to generate registration page for you.
    </div>
{% endblock %}

{% block extra_script %}
{% endblock %}