[submodule "django_project/gwml2"]
	path = django_project/gwml2
	url = https://github.com/kartoza/gwml2.git
[submodule "geonode"]
	path = geonode
	url = git@github.com:kartoza/geonode.git
	branch = 4.0.4
[submodule "istsos2"]
	path = istsos2
	url = git@github.com:meomancer/istsos2.git
	branch = igrac
