@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');
@import url('https://fonts.cdnfonts.com/css/baskerville');
html {
    height: 100%;
}

:root {
    --white: #fff;
    --white-font: #F8F0DF;
    --primary: #08384F;
    --bg-hover-color: #00A5B6;
    --secondary: #00777D;
    --primary-bold: #08384F;
    --gn-font-family-base: "Montserrat", sans-serif;
    --font-medium: 500;
    --font-semi-bold: 600;
}

body {
    font-family: var(--gn-font-family-base) !important;
}

body.igrac-home {
    padding-top: 51px;
    background: #f6f6f6;
    color: #797979;
    line-height: 1.3;
    min-height: 100%;
}

.igrac-home #wrap {
    height: 100%;
    background: #f6f6f6;
    padding-bottom: 80px !important;
    position: relative;
}

.igrac-home #wrap a:link, .igrac-home #wrap a:visited {
    color: #005198;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
}

#content a:link, #content a:visited {
    font-weight: 700;
}

#branding {
    margin: 0;
    padding-left: 15px;
    padding-right: 10px;
    min-width: auto;
}

#branding .logo {
    display: block;
    height: 50px;
    line-height: 50px;
}

#branding .logo i {
    color: #005198;
    font-size: 24px;
    line-height: 50px;
}


.navbar > li {
    height: 100%;
}

.branding {
    height: 100%;
    margin-right: 1rem !important;
}

.branding a {
    height: 100%;
    display: block;
}

.branding a img {
    height: 100%;
    padding: 5px 0;
}

header #logo-branding {
    padding: 2px 0;
}

.navbar-nav > li > a {
    padding-top: 14px !important;
    padding-bottom: 14px !important;

}

.navbar-nav .search {
    top: 10px;
}

.navbar-nav .search input {
    color: #005198;
    border: 1px solid #005198;
}

.navbar-nav .search .fa-search {
    color: #005198;
}

.igrac-wagtail #wrap {
    margin-top: 10px;
    min-height: 100vh;
    height: auto;
}

.igrac-wagtail #wrap * {
    list-style-type: disc;
}

.banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.banner-text {
    padding: 80px 0 20px 0;
    color: #fff;
    font-size: 18px;
    line-height: 1.4;
    position: relative;
    z-index: 20;
}

h1, h2, h5 {
    font-weight: 600 !important;
}

.banner-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    text-transform: uppercase;
}

.banner-text a {
    color: #fff;
    text-decoration: underline;
}

.banner-text p {
    font-family: 'Baskerville', sans-serif;
}

.banner-text a:hover {
    color: #f18903;
    text-decoration: underline;
}

.banner .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(39, 39, 39, 0.7);
    background: linear-gradient(90deg, rgba(39, 39, 39, 0.87) 0%, rgba(39, 39, 39, 0.66) 42%, rgba(39, 39, 39, 0) 100%);
}

.banner .cta {
    position: relative;
    z-index: 20;
    margin-top: 40px;
    margin-bottom: 60px;
}

.banner .cta .justify {
    display: flex;
    justify-content: space-between;
}

.msgapi .btn-primary {
    background: var(--white);
    color: var(--primary-bold);
    border: var(--white);
}

.msgapi form .btn-primary,
.btn.btn-orange {
    font-weight: var(--font-medium);
    color: var(--white-font);
    border: 1px solid var(--secondary);
    background: var(--secondary);
}

.btn.btn-blue {
    color: var(--white-font);
    border: 1px solid var(--primary);
    background: var(--primary);
}

form .btn-primary:hover, form .btn-primary:focus,
.btn.btn-orange:hover, .btn.btn-orange:focus,
.btn.btn-blue:hover, .btn.btn-blue:focus {
    color: white !important;
    border: 1px solid var(--bg-hover-color) !important;;
    background: var(--bg-hover-color) !important;;
}

.btn.btn-white {
    color: #fff;
    border-color: #fff;
}

.btn.btn-white:hover, .btn.btn-white:focus {
    color: #005198;
    box-shadow: inset 12em 0 0 0 #fff;
}

.btn.btn-grey {
    color: lightgrey;
    border: 1px solid lightgrey;
    background: transparent;
}

.btn.btn-grey:hover, .btn.btn-grey:focus {
    color: grey;
    box-shadow: inset 12em 0 0 0 #fff;
    text-decoration: none !important;
}

#content h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 70px 0 15px;
    color: #005198;
}

.map-wrapper {
    margin-top: 0;
}

.map-wrapper h2 {
    margin-left: 14px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding-bottom: 20px;
    color: #005198;
}

.map-item {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.map-item-wrappper {
    display: flex;
    height: 180px;
    box-shadow: 0 0 28px -5px rgba(0, 0, 0, 0.24);
    transition: all 0.2s;
    background: #fff;
    cursor: pointer;
}

.viewer-thumb {
    width: 45%;
    overflow: hidden;
}

.viewer-thumb img {
    min-height: 180px;
    min-width: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 0.5;
}

.viewer-desc {
    width: 55%;
    padding: 16px;
    font-size: 13px;
    display: flex;
    flex-flow: column;
}

.viewer-title {
    flex: 0 1 auto;
    font-weight: bold;
    margin-bottom: 5px;
    color: #24619d;
    font-size: 13px;
}

.map-abstract {
    flex: 1 1 auto;
    overflow-y: auto;
}

/* width */
.map-abstract::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    opacity: 0;
}

.map-abstract:hover::-webkit-scrollbar {
    opacity: 1;
}

/* Track */
.map-abstract::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 5px;
}

.map-abstract:hover::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
.map-abstract::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
}

.map-abstract:hover::-webkit-scrollbar-thumb {
    background: var(--primary);
}

/* Handle on hover */
.map-abstract::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

/* Hide scrollbar for IE, Edge and Firefox */
.map-abstract {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-height: none; /* Firefox */
    scrollbar-width: none; /* Firefox */
}

.map-abstract:hover {
    -ms-overflow-style: scrollbar; /* IE and Edge */
    scrollbar-height: thin; /* Firefox */
    scrollbar-width: thin; /* Firefox */
}

.tooltip-inner {
    color: #fff;
    background-color: #797979;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #797979;
}

.map-item-wrappper .map-abstract {
    font-size: 13px;
    color: #797979;
}

.igrac-home #wrap .map-item-wrappper:hover {
    text-decoration: none;
    box-shadow: 0 0 36px -2px rgba(0, 0, 0, 0.30);
}

.map-item-wrappper img {
    max-width: 100%;
}

.igrac-home #wrap .map-item-wrappper:hover img {
    filter: grayscale(0%);
    opacity: 1;
}

.map-item:hover {
    transform: translate(3px, -3px);
    transition-duration: 0.2s;
}

.open-banner {
    float: right;
    z-index: 1;
    display: none;
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
}

form .row {
    display: flex;
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.footer-item {
    color: var(--primary-bold)
}

.footer-item[target] {
    padding-top: 0 !important;
    margin-top: 2px;
}

.msgapi .btn-primary:hover,
.msgapi .btn-primary:active,
.msgapi .btn-primary:active:focus,
.msgapi .btn-primary.active,
.msgapi .btn-primary:active,
.msgapi .open > .dropdown-toggle.btn-primary,
.msgapi .open > .dropdown-toggle.btn-primary:focus,
.dropdown-menu a:focus {
    color: var(--white-font);
    background-color: var(--secondary);
    box-shadow: unset !important;
}


.msgapi .btn-primary:focus {
    background-color: white;
    color: var(--primary-bold);
}

.msgapi body,
[data-ms2-container] {
    font-family: var(--gn-font-family-base) !important;
    -ms-text-size-adjust: 100% !important;;
    -webkit-text-size-adjust: 100% !important;;
}

.msgapi .gn-menu {
    padding: 0;
}

.msgapi .gn-menu.gn-primary {
    border-top: 1px solid #f2f0f0;
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
}

.msgapi .gn-menu .gn-menu-container {
    background-color: white;
}

.msgapi .gn-menu-divider {
    background-color: #f2f0f0;
}

.msgapi .gn-resource-card .card-title a {
    color: var(--primary);
    font-weight: bold;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

.gn-home-section .gn-card-description {
    white-space: initial !important;
    font-family: 'Baskerville', sans-serif;
}

.map-abstract {
    font-family: 'Baskerville', sans-serif;
    font-size: .69rem;
}

.gn-home-section .map-abstract {
    height: 100px !important;
    overflow-y: auto !important;
}

.gn-search-bar-li {
    padding-right: 1rem !important;
}

#gn-search-bar {
    border-width: 1px;
    box-shadow: unset;
}

.gn-user-menu-dropdown button {
    padding: 0.25rem 0.5rem !important;
    border-radius: 0 !important;
}

.gn-user-menu-dropdown button:hover,
.gn-user-menu-dropdown button:focus {
    color: var(--white-font);
    background-color: var(--secondary) !important;
}

#gn-search-bar-apply:focus {
    box-shadow: unset !important;
}


/**** Menu ***/
/* Media Queries
   ----------------------------- */
@media (max-width: 991px) {
    .navbar-header button {
        line-height: 47px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 6px;
    }

    .navbar-header button i {
        color: #24619d;
        line-height: 47px;
    }

    .navbar-nav.toolbar {
        margin: 0 -12px !important;
    }

    .navbar-nav > li {
        border-bottom: 1px solid lightgrey;
        padding-left: 15px;
    }

    .navbar-nav.navbar-right {
        display: flex;
        justify-content: flex-end;
    }

    .navbar-nav.navbar-right > li {
        border-bottom: none;
    }
}

@media (max-width: 768px) {
    .navbar-header {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.form-actions {
    margin-bottom: 10px;
}

#status a:nth-child(6) {
    width: 0 !important;
    padding: 0 !important;
    color: rgba(0, 0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border: rgba(0, 0, 0, 0) !important;
    margin-left: -15px !important;
}

.geostory-button-container {
    margin-bottom: -20px;
}

.geostory-button-container .btn {
    padding: 10px;
    color: white !important;
}

.geostory-button-container .btn:hover, .geostory-button-container .btn:focus {
    color: var(--primary); !important;
}

.home-menu a {
    height: 48px;
    padding: 0.9rem 0.5rem;
}

.home-menu a i {
    margin-top: -2px;
}

.fa-home {
    font-size: 1.4rem !important;
}

.dropdown-menu {
    background-color: var(--secondary) !important;
    border-top: 1px solid var(--secondary) !important;
    border: unset !important;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
    color: white !important;
    background-color: var(--bg-hover-color) !important;
}

.dropdown-menu a {
    color: var(--white-font) !important;
}

.dropdown-menu .divider {
    background-color: var(--primary) !important;
}

/*.dropdown-submenu>.dropdown-menu {*/
/*  top: 0;*/
/*  left: 100%;*/
/*  margin-top: -6px;*/
/*  margin-left: -1px;*/
/*}*/

/*.dropdown-submenu:hover>.dropdown-menu {*/
/*  display: block;*/
/*}*/

/*.dropdown-submenu>a:after {*/
/*  display: block;*/
/*  content: " ";*/
/*  float: right;*/
/*  width: 0;*/
/*  height: 0;*/
/*  border-color: transparent;*/
/*  border-style: solid;*/
/*  border-width: 5px 0 5px 5px;*/
/*  border-left-color: #ccc;*/
/*  margin-top: 5px;*/
/*  margin-right: -10px;*/
/*}*/

/*.dropdown-submenu:hover>a:after {*/
/*  border-left-color: #fff;*/
/*}*/

/*.dropdown-submenu.pull-left {*/
/*  float: none;*/
/*}*/

/*.dropdown-submenu.pull-left>.dropdown-menu {*/
/*  left: -100%;*/
/*  margin-left: 10px;*/
/*}*/
.error-data {
    text-align: center;
    color: red;
    padding: 2rem;
}

#wrap {
    padding-top: 0 !important;
    padding-bottom: 80px !important;
    margin-top: 0 !important;
}

#gn-brand-navbar {
    z-index: 1401 !important;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23)
}

#gn-brand-navbar .btn-primary {
    padding: 0.9rem 0.5rem;
}

.nav-link:focus {
    box-shadow: unset !important;
}

.menu-sidebar a {
    outline: none !important;
}

.menu-sidebar a:focus {
    text-decoration: unset;
}

#ms-app .dropdown-menu button {
    background-color: unset !important;
    border: none !important;
    color: white;
    border-radius: 0 !important;
}

#ms-app .dropdown-menu button:hover {
    background-color: #ff6b0d !important;
}

#footer-attribution-container .ol-attribution {
    padding: 4px 2px;
}

.msgapi a {
    color: var(--primary)
}

.explore-viewer-title {
    font-size: 30px !important;
    font-weight: 700 !important;
    margin: 25px 10px 15px !important;
    color: var(--secondary) !important;
    text-transform: uppercase;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

.msgapi .gn-action-navbar-title {
    background-color: var(--primary);
    color: var(--white-font);
}

.toc-group-title {
    font-weight: var(--font-semi-bold);
}

.form-group strong,
.form-group label,
.gn-filter-form-group-title strong {
    color: var(--secondary);
    font-weight: var(--font-semi-bold);
}
.form-group ul label {
    color: black;
}
.swipeable-view .panel-body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#fg-viewportFilter-button {
    height: 30px;
}

.msgapi .gn-embed .ms-cascade-story .ms-section .ms-geo-carousel,
.msgapi .ms-cascade-story .ms-section .ms-geo-carousel {
    box-shadow: unset;
    margin-bottom: 0;
}

.msgapi .gn-embed .ms-geostory-navigation .ms-geostory-navigation-bar {
    height: fit-content;
}
.msgapi .gn-embed .ms-geostory-navigation .ms-horizontal-menu {
    min-height: 30px;
}