{% load staticfiles %}
<link href="{% static 'css/apexcharts/apexcharts.css' %}" rel="stylesheet">
<style>
    .well-chart-row:before {
        display: table;
    }

    .well-chart-row {
        padding-top: 10px;
        min-height: 600px;
        padding-bottom: 25px;
    }

    .column-25 {
        width: 25%;
        float: left;
    }

    .column-75 {
        width: 75%;
        float: left;
    }

    .column-50 {
        width: 50%;
        float: left;
        padding: 15px;
    }

    .height-100 {
        height: 150px;
    }

    .well-table-container {
        height: 450px;
        overflow-y: auto;
        background-color: #ffffff;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
    }

    .title {
        color: #24619d;
    }

    .well-table-container td {
        border: 1px solid #ebebeb;
        padding: 14px 18px;
        color: #333333;
    }

    .table-description {
        padding: 20px;
        line-height: 1.4;
    }

    .well-info {
        line-height: 200px;
        height: 100%;
        position: relative;
    }

    .well-info p {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #24619d;
    }

</style>


<div class="well-chart-row">
    <div class="column-25 height-100">
        <div class="charts-header">
            <h3>Well Chart</h3>
        </div>
        <div style="font-weight: bold; height: 30px;">
            <div style="width: 30%; float: left">Depth From Surface</div>
            <div style="width: 40%; float: left; text-align: center">Construction</div>
            <div style="width: 30%; float: left">Stratigraphy</div>
        </div>
        <div class="charts" id="well-chart-container">
        </div>
    </div>
    <div class="column-75">
        <h3>Well information</h3>
        <div id="well-table-container" class="well-table-container">
            <div class="well-info">
                <p>Please hover over the chart on the left</p>
            </div>
        </div>
    </div>
</div>

<script id="well-charts-table-template" type="text/template">
    <div class="column-50">
        <div class="title">
            <h4>Construction</h4>
        </div>
        <table>
            <tr>
                <td width="30%">Casing or screen</td>
                <td><%= construction.type %></td>
            </tr>
            <tr>
                <td>Top depth</td>
                <td><%= construction.top %></td>
            </tr>
            <tr>
                <td>Bottom depth</td>
                <td><%= construction.bottom %></td>
            </tr>
            <tr>
                <td>Diameter</td>
                <td><%= construction.data.diameter %></td>
            </tr>
            <tr>
                <td>Material</td>
                <td><%= construction.data.material %></td>
            </tr>
        </table>
    </div>
    <div class="column-50" style="margin-bottom: 50px;">
        <div class="title">
            <h4>Stratigraphy</h4>
            <table>
                <tr>
                    <td width="30%">Top depth</td>
                    <td><%= stratigraphy.top %></td>
                </tr>
                <tr>
                    <td>Bottom depth</td>
                    <td><%= stratigraphy.bottom %></td>
                </tr>
                <% if (stratigraphy.data) { %>
                <tr>
                    <td>Material</td>
                    <td><div style="height: 10px; width: 10px; opacity: 0.5; background-color: <%= stratigraphy.data.material_color %>; float: left; margin-top: 2px; border-radius: 3px; margin-right: 5px;"></div><%= stratigraphy.data.material %></td>
                </tr>
                <tr>
                    <td>Stratigraphy Unit</td>
                    <td><%= stratigraphy.data.unit %></td>
                </tr>
                <% } else { %>
                <tr>
                    <td>Material</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Stratigraphy Unit</td>
                    <td></td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
    <div class="table-description">
        <h5>Description</h5>
        <%= construction.data.description %>
    </div>
</script>

<script type="text/javascript"
        src="{% static 'js/apexcharts/apexcharts.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/chroma.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/underscore-1.11.0/underscore-min.js' %}"></script>
<script>

    const stringToColour = function (str) {
        let hash = 0;
        for (let i = 0; i < str.length; i++) {
            hash = str.charCodeAt(i) + ((hash << 5) - hash);
        }
        let colour = '#';
        for (let i = 0; i < 2; i++) {
            let value = (hash >> (i * 8)) & 0xFF;
            colour += ('00' + value.toString(16)).substr(-2);
        }
        colour += '00'
        return colour;
    }

    const feetToMeter = function (value) {
        return Math.round(parseFloat(value) / 3.2808)
    }

    $(function () {
        // Get chart data
        let stratigraphicLogData = $('#stratigraphic_log_table tr:has(td)').map(function(i, v) {
            let $td = $('td', this);
            let top =  parseFloat(`${$td.eq(1).find('[name^="top_depth_value"]').val()}`);
            let bottom = parseFloat(`${$td.eq(2).find('[name^="bottom_depth_value"]').val()}`);
            let top_depth_unit = `${$td.eq(1).find('[name^="top_depth_unit"]').val()}`;
            let bottom_depth_unit = `${$td.eq(2).find('[name^="bottom_depth_unit"]').val()}`;
            if (top_depth_unit === 'ft') {
                top = feetToMeter(top);
            }
            if (bottom_depth_unit === 'ft') {
                bottom = feetToMeter(bottom);
            }
            return {
                id: parseInt(`${$td.eq(0).find('[name^="id_"]').val()}`),
                top: top,
                bottom: bottom,
                top_depth_unit: parseFloat(`${$td.eq(1).find('[name^="top_depth_unit"]').val()}`),
                bottom_depth_unit: parseFloat(`${$td.eq(2).find('[name^="bottom_depth_unit"]').val()}`),
                data: {
                    material: `${$td.eq(3).find('[name^="material"]').val()}`,
                    unit: `${$td.eq(4).find('[name^="stratigraphic_unit"]').val()}`,
                }
            }
        }).get();

        let casingData = $('#casing_table tr:has(td)').map(function(i, v) {
            let $td = $('td', this);
            let top =  parseFloat(`${$td.eq(1).find('[name^="top_depth_value"]').val()}`);
            let bottom = parseFloat(`${$td.eq(2).find('[name^="bottom_depth_value"]').val()}`);
            let top_depth_unit = `${$td.eq(1).find('[name^="top_depth_unit"]').val()}`;
            let bottom_depth_unit = `${$td.eq(2).find('[name^="bottom_depth_unit"]').val()}`;
            if (top_depth_unit === 'ft') {
                top = feetToMeter(top);
            }
            if (bottom_depth_unit === 'ft') {
                bottom = feetToMeter(bottom);
            }
            return {
                id: parseInt(`${$td.eq(0).find('[name^="id_"]').val()}`),
                top: top,
                bottom: bottom,
                top_depth_unit: parseFloat(`${$td.eq(1).find('[name^="top_depth_unit"]').val()}`),
                bottom_depth_unit: parseFloat(`${$td.eq(2).find('[name^="bottom_depth_unit"]').val()}`),
                diameter: `${$td.eq(3).find('[name^="diameter"]').val()}`,
                material: `${$td.eq(4).find('[name^="material"]').val()}`,
                description: `${$td.eq(5).find('[name^="description"]').val()}`,
            }
        }).get();

        let screenData = $('#screen_table tr:has(td)').map(function(i, v) {
            let $td = $('td', this);
            let top =  parseFloat(`${$td.eq(1).find('[name^="top_depth_value"]').val()}`);
            let bottom = parseFloat(`${$td.eq(2).find('[name^="bottom_depth_value"]').val()}`);
            let top_depth_unit = `${$td.eq(1).find('[name^="top_depth_unit"]').val()}`;
            let bottom_depth_unit = `${$td.eq(2).find('[name^="bottom_depth_unit"]').val()}`;
            if (top_depth_unit === 'ft') {
                top = feetToMeter(top);
            }
            if (bottom_depth_unit === 'ft') {
                bottom = feetToMeter(bottom);
            }
            return {
                id: parseInt(`${$td.eq(0).find('[name^="id_"]').val()}`),
                top: top,
                bottom: bottom,
                top_depth_unit: parseFloat(`${$td.eq(1).find('[name^="top_depth_unit"]').val()}`),
                bottom_depth_unit: parseFloat(`${$td.eq(2).find('[name^="bottom_depth_unit"]').val()}`),
                diameter: `${$td.eq(3).find('[name^="diameter"]').val()}`,
                material: `${$td.eq(4).find('[name^="material"]').val()}`,
                description: `${$td.eq(5).find('[name^="description"]').val()}`,
            }
        }).get();

        stratigraphicLogData.sort((a,b) => (a.top > b.top) ? 1 : ((b.top > a.top) ? -1 : 0));

        // CONSTRUCTION DATA
        const constructionData = [];
        const constructionPatterns = [];
        casingData.forEach((casing, index) => {
            if (Number.isNaN(casing['top']) || Number.isNaN(casing['bottom'])) {
                return true;
            }
            constructionData.push({
                'top': casing['top'],
                'bottom': casing['bottom'],
                'type': 'Casing',
                'data': {
                    'diameter': casing['diameter'],
                    'material': casing['material'],
                    'description': casing['description']
                }
            })
        })

        screenData.forEach((screen, index) => {
            constructionData.push({
                'top': screen['top'],
                'bottom': screen['bottom'],
                'type': 'Screen',
                'data': {
                    'diameter': screen['diameter'],
                    'material': screen['material'],
                    'description': screen['description']
                }
            })
        })

        const stratigraphicColors = [];
        constructionData.sort((a,b) => (a.top > b.top) ? 1 : ((b.top > a.top) ? -1 : 0));
        constructionData.forEach((_constructionData, index) => {
            if (_constructionData['type'] === 'Screen') {
                constructionPatterns.push('pattern');
            } else {
                constructionPatterns.push('solid');
            }
        })

        stratigraphicLogData.forEach((_stratigraphicLogData, index) => {
            const _color = stringToColour(_stratigraphicLogData['data']['material']);
            _stratigraphicLogData['data']['material_color'] = _color
            stratigraphicColors.push(_color)
        });

        let chartData = {
            'stratigraphy': stratigraphicLogData,
            'construction': constructionData,
            'stratigraphicColors': stratigraphicColors,
            'constructionPatterns': constructionPatterns
        }
        if (stratigraphicLogData.length > 0 || constructionData.length > 0) {
            createWellChart(chartData, 'well-chart-container', 'well-table-container');
        } else {
            $('.well-chart-row').hide();
        }
    });

    /**
     * Render chart with chartData to a div with id of chartId
     * @param chartData, example : {
            'stratigraphy': [{
                'top': 0,
                'bottom': 10,
                'id': 1,
                'data': {
                    'material': 'clay',
                    'unit': 'upper devonian'
                }
            }, {
                'top': 10,
                'bottom': 30,
                'id': 2,
                'data': {
                    'material': 'soil',
                    'unit': 'lower devonian'
                }
            }],
            'construction': [{
                'top': 0,
                'bottom': 20,
                'id': 1,
                'data': {
                    'casing or screen': 'casing',
                    'diameter': '20mm',
                    'material': 'pvc',
                    'description': 'lorem ipsum'
                }
            }, {
                'top': 20,
                'bottom': 40,
                'id': 2,
                'data': {
                    'casing or screen': 'casing 2',
                    'diameter': '30mm',
                    'material': 'pvc 2',
                    'description': 'lorem ipsum 2'
                }
            }]
        }
     * @param chartId, id of the chart container div
     * @param tableContainerId, id of the table container div
     */
    function createWellChart(chartData, chartId, tableContainerId) {
        if (!chartData.hasOwnProperty('construction')) return false;
        if (!chartData.hasOwnProperty('stratigraphy')) return false;
        let width = $('#well-chart-container').width();

        const stratigraphyChartId = 'stratigraphy-chart-container'
        const stratigraphyChartDiv = $(`<div id="${stratigraphyChartId}" style="position: absolute; top: 0">`);
        $(`#${chartId}`).append(stratigraphyChartDiv);

        const constructionChartId = 'construction-chart-container'
        const constructionChartDiv = $(`<div id="${constructionChartId}">`);
        $(`#${chartId}`).append(constructionChartDiv);

        const constructionDataSeries = [];
        let maxConstructionData = 0;
        chartData['construction'].forEach((constructionData, index) => {
            const range = constructionData['bottom'] - constructionData['top'];
            maxConstructionData += range
            constructionDataSeries.push({
                name: constructionData['id'],
                data: [range]
            })
        })

        const stratigraphyDataSeries = [];
        let maxStratigraphyData = 0;
        chartData['stratigraphy'].forEach((stratigraphyData, index) => {
            const range = stratigraphyData['bottom'] - stratigraphyData['top'];
            maxStratigraphyData += range
            stratigraphyDataSeries.push({
                name: stratigraphyData['id'],
                data: [range]
            })
        })
        const max = maxConstructionData > maxStratigraphyData ? maxConstructionData : maxStratigraphyData;
        renderChart(constructionDataSeries, `#${constructionChartId}`, max,
            {
                'width': width,
                'padding_width': 180,
                'center': true,
                'colors': chroma.scale(['#aeaeae','#000000']).mode('hcl').colors(6),
                'patterns': chartData['constructionPatterns'],
            }, (event, chartContext, config) => {
                if (!event) {
                    return true;
                }
                const constructionData = chartData['construction'][config['seriesIndex']];
                chartData['stratigraphy'].some((stratigraphyData, index) => {
                    if (constructionData['bottom'] <= stratigraphyData['bottom']) {
                        renderTable(tableContainerId, constructionData, stratigraphyData);
                        return true;
                    } else {
                        renderTable(tableContainerId, constructionData, {});
                    }
                })
            });
        renderChart(stratigraphyDataSeries, `#${stratigraphyChartId}`, max,
            {
                'width': width,
                'padding_width': 0,
                'colors': chartData['stratigraphicColors'],
                'opacity': 0.5,
            });
    }

    function renderTable(tableContainerId, constructionData, stratigraphyData) {
        const tableDiv = $(`#${tableContainerId}`);
        const table = _.template($('#well-charts-table-template').html());
        tableDiv.html(table(
            {
                'construction': constructionData,
                'stratigraphy': stratigraphyData
            }
        ));
    }

    function renderChart(chartSeriesData, chartContainerId, maxSeriesData, options, callback = null) {
        const center = options.hasOwnProperty('center') ? options['center'] : false;
        const width = options.hasOwnProperty('width') ? options['width'] : 300;
        const padding_width = options.hasOwnProperty('padding_width') ? options['padding_width'] : 300;
        const colors = options.hasOwnProperty('colors') ? options['colors'] : ['#F44336', '#E91E63', '#9C27B0'];
        const opacity = options.hasOwnProperty('opacity') ? options['opacity'] : 1;
        const patterns = options.hasOwnProperty('patterns') ? options['patterns'] : 'solid';
        const pattern_type = options.hasOwnProperty('pattern_type') ? options['pattern_type'] : 'squares';
        let chartOptions = {
            series: chartSeriesData,
            stroke: {
                width: 1,
                colors: ['#fff']
            },
            chart: {
                type: 'bar',
                height: 450,
                width: width - padding_width,
                stacked: true,
                events: {
                    dataPointMouseEnter: function (event, chartContext, config) {
                        if (callback) {
                            callback(event, chartContext, config);
                        }
                    },
                    dataPointMouseLeave: function (event, chartContext, config) {
                        if (callback) {
                            callback(null);
                        }
                    },
                    mounted: function (chartContext, config) {
                        if (center) {
                            $(chartContainerId).find('.apexcharts-canvas').css({
                                'margin-left': 'auto',
                                'margin-right': 'auto'
                            })
                        }
                    },
                    updated: function (chartContext, config) {
                        chart.destroy();
                        options['width'] = $('#well-chart-container').width();
                        renderChart(chartSeriesData, chartContainerId, maxSeriesData, options, callback);
                    }
                },
                toolbar: {
                    show: false
                }
            },
            tooltip: {
                enabled: false
            },
            xaxis: {
                labels: {
                    show: false
                },
                categories: ['Depth'],
            },
            yaxis: {
                reversed: true,
                show: !center,
                max: maxSeriesData,
                axisBorder: {
                    show: false,
                },
                axisTicks: {
                    show: false
                },
                labels: {
                    formatter: function (value) {
                        return value.toFixed(2) + "m";
                    }
                }
            },
            grid: {
                show: !center
            },
            fill: {
                colors: colors,
                opacity: opacity,
                type: patterns,
                pattern: {
                    style: pattern_type,
                    width: 4,
                    height: 4,
                    strokeWidth: 1,
                },
            },
            legend: {
                show: false
            },
            dataLabels: {
                enabled: false
            }
        };

        let chart = new ApexCharts(document.querySelector(chartContainerId), chartOptions);
        chart.render();
    }

</script>