{% load static %}
<header class="gn-main-header">
    {% include './brand_navbar.html'  with id='gn-brand-navbar' %}
</header>
<div class="gn-main-header-placeholder"></div>

{% if GOOGLE_ANALYTIC_KEY %}
    <!-- Google tag (gtag.js) -->
    <script async
            src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTIC_KEY }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('config', '{{ GOOGLE_ANALYTIC_KEY }}');
    </script>
{% endif %}

{% if show_hero %}
    {% include './hero.html' %}
{% endif %}

<script>
    (function () {
        const mainHeader = document.querySelector('.gn-main-header');
        const mainHeaderPlaceholder = document.querySelector('.gn-main-header-placeholder');
        const topbar = document.querySelector('#gn-topbar');
        function resize() {
            if (mainHeaderPlaceholder && mainHeader) {
                mainHeaderPlaceholder.style.height = mainHeader.clientHeight + 'px';
            }
            if (topbar && mainHeader) {
                topbar.style.top = (mainHeader.clientHeight - 1) + 'px';
            }
        }
        window.addEventListener('resize', resize);
        window.addEventListener('DOMContentLoaded', resize);
        resize();
    })();
</script>
