{% load i18n %}
<div class="banner" {% if BANNER_URL %}style="background-image: url({{ BANNER_URL }})"{% endif %}>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="banner-text">
                        <h2>{% trans "The Global Groundwater Information System (GGIS)" %}</h2>
                        <p>{% trans "The GGIS is an interactive portal for sharing data and information on groundwater resources around the world. It gives access to map layers, documents, and well and monitoring data. It also contains several thematic map viewers." %}</p>
                    </div>
                </div>
            </div>
            <div class="cta">
                <div class="justify">
                    <a class="btn btn-orange" href="https://www.un-igrac.org/" target="_blank">{% trans "Visit IGRAC Website" %}</a>
                    <a class="btn btn-blue ml-auto btn-hide">{% trans "Hide this banner" %} <i class="fa fa-times-circle-o" aria-hidden="true" style="margin-left: 7px"></i></a>
                </div>
            </div>
        </div>

        <div class="background"></div>
</div>