/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/*margin: 0;*/
	/*padding: 0;*/
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/****** Main CSS *******/
body {
	font-size: 16px;
	font-family: nimbus-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
}
#container {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #cad2d3;
}
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	top: 0;
	width: 100%;
	/*height: 56px;*/
	background: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.23);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.23);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.23);
}
#branding {
	padding-left: 30px;
	margin: 7px;
}
#branding .logo {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	vertical-align: middle;
}
#branding .logo img {
	display: inline-block;
	vertical-align: middle;
}
.main-navigation {
	text-align: center;
}
.main-navigation li {
	display: inline-block;
}
.main-navigation li a {
	color: #24619d;
	display: inline-block;
	height: 56px !important;
	line-height: 56px !important;
	text-decoration: none;
	background: #fff;
	padding: 0 10px;
}
.main-navigation li a:hover, .nav.navbar-nav.toolbar li a:hover, .nav.navbar-nav.navbar-right li a:hover {
	color: #fff !important;
	background: #ff6c0e !important;
}
.navbar .user {
	padding-right: 30px !important;
}
.navbar .user .action {
	color: #24619d !important;
	font-size: 17px !important;
	display: inline-block !important;
	height: 56px !important;
	line-height: 56px !important;
	padding: 0 5px !important;
}

.navbar-nav {
	margin: 0 4px !important;
}

.navbar-nav > li > a {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.navbar-nav .search input:focus {
    width: 200px !important;
}

#wrap {
	padding-top: 50px !important;
}

#grp-content {
	padding-top: 120px !important;
}