psycopg2-binary
django-braces==1.14.0
django-model-utils==1.4.0
django-pipeline==1.6.14
django-role-permissions==2.2.0
markdown==2.6.11

raven==6.10.0
django-sentry==1.13.5
pytz
# support special characters

# Django Easy Audit
# https://github.com/soynatan/django-easy-audit
# git+https://github.com/soynatan/django-easy-audit.git
django-grappelli==2.14.2

djangorestframework==3.9.1
djangorestframework-gis==0.13
service_identity

# igrac
wagtail==2.9
wagtailmenus
pyexcel-xls
pyexcel-xlsx

git+https://github.com/kartoza/django-mapstore-adapter
git+https://github.com/kartoza/geonode-mapstore-client.git@develop
django-crispy-forms==1.8.1
