psycopg2-binary==2.9.5
django-admin-sortable==2.3
django-braces==1.15.0
django-model-utils==4.3.1
django-pipeline==2.1.0
django-preferences==1.0.0
django-role-permissions==3.1.1

raven==6.10.0
django-sentry==1.13.5

service_identity

# igrac
wagtail==4.2.1
wagtailmenus==3.1.5
openpyxl==3.0.10
pyexcel-xls==0.7.0
pyexcel-xlsx==0.6.0

git+https://github.com/kartoza/geonode-mapstore-client.git@4.0.7
