<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contributor Page</title>
    <style>
      .contributor-card {
        border: 1px solid #ccc;
        padding: 1rem;
        margin-bottom: 10px;
      }
    </style>
</head>
<body>
<div class="container">
    <main class="content">
        <div class="contributor-list">
            {% if organisations %}
                {% for organisation in organisations %}
                    <div class="contributor-card">
                        <div>
                            <b>{{ organisation.name }}</b>
                        </div>
                        <br/>
                        {% if organisation.description %}
                            <div>{{ organisation.description }}</div>
                            <br/>
                        {% endif %}
                        {# links #}
                        {% if organisation.links %}
                            <div>
                                <b>Relevant links:</b>
                                {% for link in organisation.links %}
                                    <div>
                                        <a href="{{ link.url }}"
                                           target="_blank">
                                            {{ link.name }}
                                        </a>
                                    </div>
                                {% endfor %}
                                <br/>
                            </div>
                        {% endif %}
                        {% if organisation.data_types %}
                            <div>
                                <b>Data type: </b>{{ organisation.data_types }}
                            </div>
                        {% endif %}
                        {% if organisation.time_range %}
                            <div>
                                <b>Time range: </b>
                                {{ organisation.time_range }}
                            </div>
                        {% endif %}
                        {% if organisation.license_data %}
                            <div>
                                <b>License: </b>
                                <a href="{{ organisation.license_data.url }}"
                                   target="_blank">
                                    {{ organisation.license_data.name }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p>No contributor found.</p>
            {% endif %}
        </div>
    </main>
</div>
</body>
</html>