{% extends "base.html" %}
{% load static from staticfiles %}
{% load manual_menu %}
{% load wagtailcore_tags %}

{% block subtitle %}
    {% if self.get_ancestors|length > 1 %}
        {{ self.get_ancestors.1.title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block additional_head %}
    <link rel="stylesheet"
          href="{% static "css/jstree-3.2.1/style.min.css" %}"/>
    <link rel="stylesheet"
          href="{% static "css/manual-page-style.css" %}"/>

{% endblock %}

{% block middle %}
    <div class="container-fluid">
        <div class="row manual-row">
            <div class="col-md-10 col-md-push-2 col-xs-12 manual-content">
                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for ancestor in self.get_ancestors|slice:"1:" %}
                            {% if forloop.last %}
                                <li class="breadcrumb-item">
                                    <a href="{% pageurl ancestor %}">{{ ancestor }}</a>
                                </li>
                            {% else %}
                                <li class="breadcrumb-item">
                                    <a href="{% pageurl ancestor %}">{{ ancestor }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="breadcrumb-item active" aria-current="page">
                            {{ page.title }}
                        </li>
                    </ol>
                </nav>

                <h3 class="manual-title">{{ page.title }}</h3>
                <div class="manual-intro">{{ page.intro | richtext }}</div>
                <hr/>
                {{ page.body | richtext }}
            </div>

            <div class="col-md-2 col-md-pull-10 col-xs-12 menu-sidebar">
                <h5> GGIS IGRAC Docs</h5>
                <div id="jstree1" class="demo">
                    {% manual_menu menu page.slug %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script src="{% static "js/jstree-3.2.1/jstree.min.js" %}"></script>
    <script>
        $(function () {
            $('#jstree1').jstree({
                "core": {
                    "themes": {
                        "variant": "large",
                        "icons": false
                    }
                },
                "plugins": ["wholerow",]
            }).bind("select_node.jstree", function (e, data) {
                document.location.href = data.node.a_attr.href;
            });
            $('.menu-container').show();
        });
    </script>
{% endblock %}
