{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block body_class %}{% trans "igrac-home" %}{% endblock %}

{% block extra_head %}
    <script src="https://kit.fontawesome.com/0aaf37ae1e.js" crossorigin="anonymous"></script>
    <link href="{% static "css/base-igrac.css" %}" rel="stylesheet" />
    <script>
        function setCookie(cname,cvalue,exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays*24*60*60*1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function delete_cookie(name) {
          document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }

        function checkCookieBanner() {
            var hide_banner=getCookie("hideBanner");
            if(hide_banner){
                var css = '.banner {display: none;} .open-banner {display: block;}',
                    head = document.head || document.getElementsByTagName('head')[0],
                    style = document.createElement('style');

                head.appendChild(style);

                style.type = 'text/css';
                if (style.styleSheet){
                  // This is required for IE8 and below.
                  style.styleSheet.cssText = css;
                } else {
                  style.appendChild(document.createTextNode(css));
                }
            }
        }
        checkCookieBanner();
    </script>
{% endblock %}

{% block banner %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner-text">
						<h2>{% trans "The Global Groundwater Information System (GGIS)" %}</h2>
						<p>{%  trans "is an interactive, web-based portal to groundwater-related information and knowledge." %}</p>

						<p>{% trans "The GGIS consists of several modules structured around various themes. Each module has its own map-based viewer with underlying database to allow storing and visualizing geospatial data in a systematic way." %}
                        {% trans "The following" %} <a href="https://www.un-igrac.org/disclaimer" target="_blank">{% trans "disclaimer and license" %}</a>
                            {% trans "are applicable to the GGIS, as well as to all other IGRAC products." %}</p> </div>
                </div>
            </div>
			<div class="cta">
				<div class="justify">
			        <a class="btn btn-orange" href="https://www.un-igrac.org/" target="_blank">{% trans "Visit IGRAC Website" %}</a>
				    <a class="btn btn-blue ml-auto btn-hide">{% trans "Hide this banner" %} <i class="fa fa-times-circle-o" aria-hidden="true" style="margin-left: 7px"></i></a>
				</div>
		  </div>
        </div>

        <div class="background"></div>
    </section>
{% endblock %}

{% block body %}
    <div id="content">
    </div>
{% endblock %}

{% block extra_mainbody %}
    <div class="open-banner">
            <button onclick="openBanner()" class="btn btn-grey ml-auto">{% trans "Show banner" %} <i class="fa fa-eye" aria-hidden="true" style="margin-left: 7px"></i></button>
        </div>
    <div class="container">
        <div id="content">
            <h1>{% trans "Explore the viewers" %}</h1>
        </div>
        <div class="map-wrapper">
            <div class="row">
                {% for map in maps %}
                    <div class="col-lg-4 map-item">
                        <a class="map-item-wrappper" href="{% url 'map_view_slug' slug=map.slug %}" data-toggle="tooltip" data-placement="top" title="{{ map.map.title }}">
                            <div class="viewer-thumb">
                                <img src="{{ map.map.thumbnail_url }}" />
                            </div>
                            <div class="viewer-desc">
                                <div class="viewer-title"><strong>{{ map.map.title|truncatechars:40 }}</strong></div>
                                <div class="map-abstract">{{ map.map.abstract|truncatechars:110 }}</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script>
        $('.btn-hide').click(function () {
            $('.banner').slideUp();
            setCookie('hideBanner', true, 7);
            $('.open-banner').show();
        });
        function openBanner() {
            delete_cookie('hideBanner');
            $('.banner').slideDown();
            $('.open-banner').hide();
        }
    </script>
{% endblock extra_script %}